
#box1 {
    
     height: 400px;
    background-color: blanchedalmond;   
}

#box1,#box2 {
display: inline-block;
width:50%;
margin: -2px;
box-sizing: border-box;
vertical-align: middle;
}
#box2 {
    text-align: left;
    padding: 30px;
}
